@media only screen and (max-width: 1100px){
    .right {
        right: 0;
        height: 0;
        width: 400px;
        border-top: 300px solid rgb(0, 72, 50);
        border-left:0 solid transparent;
        border-right: 300px solid transparent;
        rotate: 180deg; 
        
    }
    .right:after{
        position: absolute;
        top: 0;
        right:0;
        content: '';
        border-bottom: 200px solid rgb(0, 72, 50);
        border-left: 200px solid transparent;
        border-right: 250px solid transparent;
        rotate: 180deg;
    }
}

/* Desktop display */
@media only screen and (min-width: 1100px){
    .left {
        left: 0;
        width: 0;
        height: 0;
        border-bottom: 400px solid rgb(0, 72, 50);
        border-right: 500px solid transparent;
        margin-top: -50px;
    }
    .right {
        right: 0;
        height: 0;
        width: 550px;
        border-top: 400px solid rgb(0, 72, 50);
        border-left:0 solid transparent;
        border-right: 350px solid transparent;
        rotate: 180deg; 
        margin-top: -50px;
    }
    .right:after{
        position: absolute;
        top: 0;
        right:0;
        content: '';
        border-bottom: 270px solid rgb(0, 72, 50);
        border-left: 250px solid transparent;
        border-right: 300px solid transparent;
        
        rotate: 180deg;
    }
    .leftmid {
        left: 10%;
        width: 0;
        height: 0;
        border-left: 400px solid transparent;
        border-right: 500px solid transparent;
        margin-top: -100px;
        border-bottom: 450px solid rgb(0, 55, 45);
    }
    .rightmid {
        right: 30%;
        width: 0;
        height: 0;
        border-left: 350px solid transparent;
        border-right: 350px solid transparent;
        
        border-bottom: 350px solid rgb(0, 59, 58);
        
    }
    .deer {
        position: absolute;
        z-index: 6;
        right:50px;
        margin-top: 280px;
    }
}


.mountain {
    display: inline-block;
    user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    position: absolute;
    
    flex-shrink: 0;
}

.close {
    z-index: 4;
    
}
.far {
    z-index: 2;
    
}
.farthest {
    z-index: 0;
}

.mountainHolder {
    display: inline;
}

