

.navButton {
    font-size: large;
    cursor: pointer;
    width: 12vw;
    height: auto;
    line-height: 3rem;
    margin: 0 auto;
    text-align: center;
    border: transparent;
    background-color: transparent;
}

.navButton:hover {
    color: rgb(235, 206, 170);
}

#leftNav:hover {
    border-radius: 1rem 0 0 1rem;
    background: linear-gradient(rgba(73, 38, 200, 0.915), rgba(141, 38, 200, 0.915)) !important;
    
}

#midLeftNav:hover {
    background: linear-gradient(rgba(141, 38, 200, 0.915), rgba(197, 38, 200, 0.915)) !important;
}

#midRightNav:hover{
    background: linear-gradient(rgba(174, 44, 230, 0.915), rgba(197, 38, 200, 0.915)) !important;
}

#rightNav:hover {
    border-radius: 0 1rem 1rem 0;
    background: linear-gradient(rgba(197, 38, 200, 0.915), rgba(243, 101, 208, 0.915)) !important;
}

@media (orientation: portrait){
    .navButton {
        line-height: auto !important;
        color: rgb(235, 206, 170);
        width: 100% !important;
        height: auto !important;
        font-size:15px;
        padding: 0;
      }

    #leftNav, #rightNav, #midNav {
        border-radius: 0;
    }

    #leftNav {
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        background: linear-gradient(to right, rgba(141, 38, 200, 0.915), rgba(197, 38, 200, 0.915)) !important;
    }

    #midLeftNav {
        background: linear-gradient(rgba(174, 44, 230, 0.915), rgba(197, 38, 200, 0.915)) !important;
        
    }

    #midRightNav {
        background: linear-gradient(to right, rgba(197, 38, 200, 0.915), rgba(224, 76, 187, 0.915)) !important;
    }

    #rightNav {
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        background: linear-gradient(to right, rgba(224, 76, 187, 0.915), rgb(251, 139, 47)) !important;
    }
}