

.noCursor {
  user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
}

.sun {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  filter: blur(2px);
  background-color: rgb(246, 254, 173);
  box-shadow:
              0px 0px 40px rgb(255, 215, 85);
  animation: pulse 7s infinite;
  animation-play-state: paused;
}

.sunInteraction {
  margin-top: 130px;
  padding: 90px;
}

.sunInteraction:hover .sun {
  animation-play-state: running;

}

@keyframes pulse {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    box-shadow:
              0px 0px 40px rgb(255, 215, 85);
	}

	50% {
		transform: scale(0.8);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    box-shadow: 
              0px 0px 20px rgb(255, 215, 85);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 
              0px 0px 40px rgb(255, 215, 85);
	}
}

.background {
  display: flex;
  position:relative;
  
}

body {
  min-width: 900px;
  min-height: 500px;
  margin: 0;
  background: rgb(220,255,255);
  background: linear-gradient(0deg, rgb(255, 180, 67) 30%, rgb(255, 164, 27) 40%, rgba(197, 38, 200, 0.915) 100%);
  background-attachment: fixed;
  
}

.nameContainer {
  
  width: 300px;
  z-index: 7;
  border-radius: 15px;
  text-align: center;
  margin: 0 auto;
}

.name {
  background: white;
  margin-top: 200px;
  padding: 40px;
  border-radius: 20px;
  font-size: xx-large;
  font-family: 'Nunito', sans-serif;
}

.non-selectable { 
  width: 100%;
  min-width: 900px;
}

.bodyContainer {
  margin-top: 350px;
  position:absolute;
  background: rgb(0, 86, 51);
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
}

.toggledSection {
  
  text-align: center;
}

.centerSection {
  border-radius: 30px;
  padding: 40px;
  width: 40%;
  margin: auto;
  background: white;
}

.closedButton {
  text-align: left;
  padding: 20px;
  width: 100%;
  
  border-radius: 10px;
  border: transparent;
  font-family: 'Nunito', sans-serif;
  font-size:large;
  transition: 0.5s;
}

.closedButton:hover {
  background-color: rgba(168, 167, 167, 0.423);
}

.openButton {
  text-align: left;
  padding: 20px;
  width: 100%;
  
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: transparent;
  font-family: 'Nunito', sans-serif;
  font-size:large;
  background-color: rgba(187, 187, 187, 0.423);
}

.contentHolder {
  background-color: rgba(230, 230, 230, 0.493);
  padding: 10px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}

.notLastSpace {
  margin-bottom: 15px;
}

.resumeButton {
  text-decoration: none;
  padding: 8px;
  color: black;
  border-radius: 4px;
  background-color: rgb(255, 180, 67);
  
  
}

.forward {
  position: absolute;
  z-index: 10;
}

.navigationBar {
  width: 100%;
  background: white;
  position: fixed;
  top: 0;
}

.navButton {
  font-family: 'Nunito', sans-serif;;
  cursor: pointer;
  width: 120px;
  height: 40px;
  line-height: 40px;
  border-radius: 7px;
  transition: 0.8s;
  margin: 0 auto;
  text-align: center;
}

.navButton:hover { 
  background-color: rgba(187, 187, 187, 0.423);
  font-size: larger;
}

.topLayer {
  margin: 0 auto;
  width: 100%;
}

.personalBar {
  width: 80%;
  float: right;
}
